.screen-header {
  display: flex;
  flex-direction: row;
  height: 80px;
  border-color: #9b9a9a;
  border-bottom-style: solid;
  align-content: flex-start;
}

.header-title {
  font-size: 50px;
  letter-spacing: 2px;
  width: fit-content;
  margin-left: 40px;
}

.header-options {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 45%;
  gap: 5px;
}
