.select-box {
  border: 2px solid;
  border-color: #242322;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  padding-left: 15px;
  padding-top: 4.5px;
  padding-right: 15px;
  padding-bottom: 4.5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  gap: 7px;
}

.select-icon {
  margin-top: 5px;
}

.select-content {
  background-color: white;
  border: 2px solid;
  border-color: #242322;

  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.select-viewport {
  padding-top: 5px;
  padding-bottom: 5px;
}

.select-item {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: #242322;
  display: flex;
  align-items: center;
  height: 25px;
  position: relative;
  user-select: none;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 15px;
}
.select-item:hover {
  outline: none;
  background-color: #242322;
  color: #ffffff;
}
