@import url("https://fonts.googleapis.com/css2?family=Yatra+One&family=Ysabeau+Office:wght@1&display=swap");
.navbar-active {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  border-color: #9b9a9a;
  border-right-style: solid;
  transition: width 0.5s;
}

.navbar-unactive {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  border-color: #9b9a9a;
  border-right-style: solid;
  transition: width 0.5s;
}

.navbar-header {
  width: 100%;
  margin-bottom: 60px;
  padding-top: 10px;
  font-size: 50px;
  text-align: center;
  background-color: #ffffff;
  font-family: "Yatra one", sans-serif;
}
.navbar-items {
  padding: 13px;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 17px;
  color: #242322;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  transition: background-color 0.7s;
}

.navbar-items-selected {
  padding: 13px;
  background-color: #242322;
  width: 100%;
  margin-bottom: 17px;
  color: #ffffff;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  transition: background-color 0.7s;
}
